.taskDiv{
    display: flex;
    align-items: center;
    width: 300px;       
    margin-top: 4px;
}
.todotextspan{
    margin-left: 8px;    
    flex-grow: 1;         
}

#inputDiv{
    display: flex;
    padding-bottom: 8px;
    width: 300px;
}
#inpfield{
    flex-grow: 1;
}
#statusDiv{
    display: flex;
    justify-content: space-between ;
    width: 300px;
    padding-bottom: 8px;
    text-align: center;
}
.statusNums{
    padding-left: 4px;
    padding-right: 4px;
}
