body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}

h2{
    width: 300px;
}

#inputDiv{
    display: flex;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
#inpfield{
    flex-grow: 1;
    
}
#statusDiv{
    display: flex;
    justify-content: space-between ;
    text-align: center;
    width: 300px;
    background-color: bisque;
    border: 2px solid lightgoldenrodyellow;
    border-radius: 6px;
}
.statusElementDiv{
    display: flex;
    flex-direction: column;
}

#task_body{
    width: 303px;
    background-color: aqua;
    
}
.taskDiv{
    display: flex;
    align-items: center;
    width: 300px;       
    margin-top: 4px;
    background-color:azure;
}
.todotextspan{
    margin-left: 8px;    
    flex-grow: 1;
             
}
